html {
background-image: url(books_background.jpg);
}


#dog{
	margin: 0 auto;
	text-align: left;

}

#cat{
	margin: 0 auto;
	text-align: left;
}

nav {
	text-align: center;
	color: white;
	word-spacing: 50%;
	border: 2px solid black;
	background-color: crimson;
	font-size: 150%;

a {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: blue;

a:active {
  color: black;
}

img {
	 width: 50%;
 	 height: 50%;
  	margin: auto;
  	display: block;
  	border-radius: 10%; 
  	border: 5px solid crimson;
}

h1{
	color: crimson;
	text-align: center;
	font-weight: bolder;
}